<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ananda Marga Ukraine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<!--    the most top section of website, "header" contains 2 lines:-->
<!--    1)-->
<!--      1.1. clickable main logo to the left (leads to home page)-->
<!--      1.2. social media iconic links to the right-->
<!--    2) main menu to navigate around the site-->
    <%= render partial: "layouts/header" %>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
